// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import 'node_modules/bootstrap/scss/bootstrap';
// @import 'node_modules/bootstrap-vue/src/index.scss';
@import '~bootstrap/scss/bootstrap';

// Filepond
@import 'node_modules/filepond/dist/filepond';

// Filepond
@import 'node_modules/filepond-plugin-image-preview/dist/filepond-plugin-image-preview';


// @import 'style';
@import 'styledettapp';
@import 'helper';
@import 'index_style';
@import 'new_apt';
@import 'component_messages';

*{
  color: rgba(38,50,56,1);
  font-size: 1.1rem;
}

.container{
  min-width: 80vw;
  .row{
    // min-height: 50vh;
  }
}



@media all and (max-width: 1280px) {

  *{

    font-size: 1em;
    color: rgba(38,50,56,1);
  }

  // .row::after{
  //   content: "";
  //   display: table;
  //   clear: both;
  // }



  .container{
    section{
      // height: 100vh
    }
    .row{
      .col-md-12,
      .col-lg-12,
      .col-sm-12,
      .col-md-6,
      .col-lg-6{
        width: 100%;
        height: 100%;
      }

    }
  }

 }

.new-apt-form{
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: 25px auto;

    .new-apt-button{
      font-size: 6rem;
      width: 100%;
      height: 100%;
      border: none;
      background-color: #ea1226;
      border-radius: 5px;
      color: white;
      font-weight: bold;
    }
    .new-apt-button:hover{
      background-color:#ea1226a8;
    }
}
