header.header-absolute{

  position: absolute;

  top: 0;
  left: 0;
  right: 0;

  z-index: 1;

  a{
    color: black;
    font-size: 2rem;
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
}

.img-background{

  width: 100%;
  height: 100vh;
  position: relative;

  img{

    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -1;
  }

}

.inputApparts {
  width: 100%;
  max-width: 500px;
  height: 450px;
  background-color: white;
  position: absolute;
  left: 7%;
  top: 20%;

  border-radius: 20px;
  border: 2px solid $red;

  padding: 10px;

  margin: 0 auto;

  form{

    display: flex;
    flex-direction: column;

    .submit-btn{
      border: none;
      background-color: #ea1226;
      border-radius: 5px;
      color: white;
      font-weight: bold;

      width: 126px;
      height: 73px;

      margin: 0 auto;
      display: block;

    }
    .submit-btn:hover{
      background-color:#ea1226a8;
      cursor: pointer;
    }

    .feature-list{
      display: flex;
      flex-wrap: wrap;


      .feature-item{
        list-style: none;
        margin: 5px;
        font-weight: bold;
      }
    }

    label[for="feature"]{
      margin-top: 20px;
      margin-bottom: -5px;
    }


    .loc-input{
      margin: 10px auto;

      label{
        text-align: center;
        width: 100%;
        font-weight: bold;
        line-height: 1.25rem;
      }
      input{
        width: 400px;
        margin: 0 auto;
        display: block;
        text-align: center;
      }
    }

    input[type="number"]{
      width: 50px;
    }



  }

}

.apartments-wrapper{

  padding: 50px;

  .flex-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .apt-card{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 100%;
      max-width: 400px;
      height: 400px;
      margin: 25px auto;

      img{
        height: 256px;
        width: 300px;
        margin: 0 auto;
        display: block;
      }

      .card-desc{
        text-align: center
      }
      input{
        border: none;
        background-color: #ea1226;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        width: 126px;
        height: 73px;

        margin: 0 auto;
        display: block;
      }

      input:hover{
        background-color:#ea1226a8;
        cursor: pointer;
      }
    }

  }


}
