* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 75px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  .logo {

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .navBar{

    list-style: none;
    font-size: 20px;
    font-weight: 600;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    li{
      display: inline-block;
      margin-left: 20px;

      &:hover {
        color: white;
        font-weight: 1000;
        border-bottom: 2px solid white;
        cursor: pointer;
      }
    }
  }
}

section.row{

  height: 50vh;
  padding: 30px;

  .contact{

    // background-color: lightgrey;

    form {
      // background-color: azure;
      width: 100%;
      // border: 1px green solid;
      // border-radius: 5%;
      font-size: 18px;

      .form{
        display: flex;
        flex-direction: column;

        .button{
          margin: 20px 0;
          padding: 10px;
        }
      }
    }
  }
}

header img {
  width: 50px;
  height: 50px;
}

.photos {
  width: 100%;
  height: calc(100vh - 75px);

  img{

    max-height: 100%;
  }
}






// .left{
//   background: url("img/ap1.jpg");
//   /* background-repeat: no-repeat; */
//   background-size: cover;
//   width: 50%;
//   height: 100%;
//   float: left;
// }
//
// .right {
//   background: url("img/ap1.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   width: 25%;
//   height: 50%;
//   float: left;
// }
//
// .left:hover , .right:hover {
//   transition : 0.4;
//   transform: scale(1.1);
//   border: 1px solid black;
// }
//
// #description {
//   width: 100%;
//   height: 600px;
//   display: flex;
//   flex-direction: row;
// }
//
// #description h1 {
//   padding: 30px;
// }
//
//
// .info {
//   width: 40%;
//   height: 100%;
//   margin-left: 30px;
// }
//
// .info p {
//   padding: 20px;
//   font-size: 18px;
//   font-weight: 600;
//   font-style: italic;
//   border: 1px dotted black;
// }
//
// .servizi {
//   width: 20%;
//   height: 100%;
// }
//
// .servizi ul {
//   margin-left: 100px;
//   margin-top: 40px;
// }
//
// .contact {
//   width: 40%;
//   height: 100%;
// }
//
// .form {
//   padding: 30px;
//   background-color: azure;
//   width: 70%;
//   border: 1px green solid;
//   border-radius: 5%;
//   font-size: 18px;
// }
//
// .form h3 {
//   margin-top: 20px;
//   margin-bottom: 10px;
// }
//
// textarea {
//   resize: none;
// }
//
// #butt {
//   padding: 20px;
//
// }
