* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 75px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  .logo {

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .navBar{

    list-style: none;
    font-size: 20px;
    font-weight: 600;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    li{
      display: inline-block;
      margin-left: 20px;

      &:hover {
        color: white;
        font-weight: 1000;
        border-bottom: 2px solid white;
        cursor: pointer;
      }
    }
  }
}

tr{
  background-color: rgba(197,202,233,1);
}

section{

  // height: 50vh;
  padding: 30px;

  .my_list_group_item{
    margin-top: 0;
    margin-bottom: 1rem;


  }

  #vue_map{

    font-weight: bolder;
    color: $indigo;
    #path_map{
      // z-index: 8;
    }

    .pointer{
      z-index: 10;
      position: absolute;
      top: 50%;
      left: 50%;
    }

  }

  .my_list_group_item,
  .list_group_item{
    border-bottom: 4px solid $border_bottom_orange;
    border-bottom-width: 2px;
    border-collapse: 50%;
  }

  input,
  textarea {
    border: none;
    border-bottom: 3px solid lightgrey;
    border-radius: 5%;
  }

  .btn,
  .circle{
    background-color: $bg_btn_etc;
  }

}


  .contact{
    max-height: 50vh;
    overflow-y: scroll;
  }


.card-header{
  background-color: white;
  border-bottom: 4px solid $border_bottom;
  border-radius: 50px;
  h3{
    color: $card-header-color;
  }
}

.card,
.list_group,
.list_group_item{



}


header img {
  width: 50px;
  height: 50px;
}

.photos {
  width: 100%;
  height: calc(100vh - 75px);

  img{

    max-height: 100%;
  }
}

@media all and (min-width: 1280px) {

  section{
    // height: 100vh;
  }
  .photos{
    height: calc(100vh - 75px);
    padding: 0 5%;
  }
}
